<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <div class="col mt-4 text-center">
    <div>
      <img src="https://cutewallpaper.org/21/pokeball-background/64N7CG6-Pokeball-Background-5000x5000-Picserio.com.png" style="max-height: 125px;">
    </div>
  <div class="row">
    <h1 class="container">POKEMON CARDS</h1>
  </div>
</div>

<router-outlet></router-outlet>
